
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #000000;
    line-height: 1.6;
    padding: 20px;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    background-color: #2c3e50;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #000000;
}

/* Secciones */
section {
    background: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(214, 3, 3, 0.1);
}


button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #099cc9;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #000000;
}


article {
    margin-top: 15px;
    padding: 10px;
    border-left: 4px solid #1196be;
}


footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #2c3e50;
    color: rgb(231, 219, 219);
    border-radius: 5px;
}
